{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="my-profile d-flex">
      <img src="/img/avatar/{{ app.user.image }}" class="img-profile rounded-circle" data-toggle="modal" data-target="#editimg">
        <div class="d-flex flex-column">
            <h3 class="text-white mt-5 ml-4 font-weight-bold"><i class="fas fa-cog" id="profil-form" data-toggle="modal" data-target="#editProfile"></i> {{app.user.username}}</h3>
            <div class="d-flex">
                <h4 class="text-white mt-2 ml-4">{{ medias|length }} Médias dans la Wish list</h4>
                <h4 class="text-white mt-2 ml-4">{{ media|length }} Médias vus</h4>
            </div>
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="wish-list" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="true">Wish list</a>
            <a class="nav-item nav-link" id="have-seen" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="false">Médias vus</a>
            <a class="nav-item nav-link" id="review" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Review</a>
        </div>
    </nav>
    <div class="container">
        <div class="content-list" id="content-wishlist">
            <h3 class="text-dark mt-2 ml-4 font-weight-bold">Ma Wish list</h3>
            <div class="d-flex flex-wrap justify-content">
                {% for umedia in medias %}
                    <div class="list-button text-right mt-3 mb-3 d-flex justify-content-center poster-grid">
                        <a href="{{ path('medias.show', {'id': umedia.media.id}) }}">
                            <img src="{{ umedia.media.posterPath }}" alt="affiche">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content-list" id="content-seen">
            <h3 class="text-dark mt-2 ml-4 font-weight-bold">Mes Médias déjà vus</h3>
            <div class="d-flex flex-wrap justify-content">
                {% for smedia in media %}
                    <div class="list-button text-right mt-3 mb-3 d-flex justify-content-center poster-grid">
                        <a href="{{ path('medias.show', {'id': smedia.media.id}) }}">
                            <img src="{{ smedia.media.posterPath }}" alt="affiche">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="content-review">
        <h3 class="text-dark mt-2 ml-4 font-weight-bold">Mes Reviews</h3>
            {% for review in reviews %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 poster-grid mt-3 mb-3">
                            <a href="{{ path('medias.show', {'id': review.media.id}) }}">
                                <img src="{{ review.media.posterPath }}" alt="affiche">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.media.title }}</h5>
                                <p class="card-text">{{ review.text | truncate(300, true) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editer votre Profil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form)}}
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-success" type="submit">Valider</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editimg -->
    <div class="modal fade" id="editimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Editer votre Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formImg) }}
                    {{ form_widget(formImg) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success">Valider</button>
                    {{ form_end(formImg) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
$( "#wish-list" ).click(function() {
    $('#content-seen').fadeOut(250);
    $('#content-review').fadeOut(250);
  $( "#content-wishlist" ).first().fadeIn(250);
});

$( "#have-seen" ).click(function() {
    $('#content-wishlist').fadeOut(250);
    $('#content-review').fadeOut(250);
  $( "#content-seen" ).fadeIn(250);
});

$( "#review" ).click(function() {
    $('#content-wishlist').fadeOut(250);
    $('#content-seen').fadeOut(250);
  $( "#content-review" ).fadeIn(250);
});
</script>
{% endblock %}
