{% extends 'base.html.twig' %}

{% block title %}Espace Membres{% endblock %}

{% block body %}
<div class="container">
    <h2>Liste des Membres</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" href="{{ path('medias.crud') }}" aria-selected="false">ESPACE MEDIAS</a>
            <a class="nav-item nav-link" href="{{ path('actors.crud') }}" aria-selected="false">ESPACE ACTEURS</a>
            <a class="nav-item nav-link active" href="{{ path('membres.crud') }}" aria-selected="true">ESPACE MEMBRES</a>
            <a class="nav-item nav-link" href="{{ path('statistiques') }}" aria-selected="false">STATISTIQUES</a>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Editer</th>
                </tr>
            </thead>
            <tbody>
                {% for users in users %}
                    <tr class="table-secondary">
                        <td>{{ users.username }}</td>
                        <td>{{ users.email }}</td>
                        <td><a href="{{ path('membres.edit', {'id': users.id}) }}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}