{% extends 'base.html.twig' %}

{% block title %}Espace Médias{% endblock %}

{% block body %}
    <h2>Medias index</h2>
    <a href="{{ path('actors_crud') }}"><button type="button" class="btn btn-secondary">ESPACE ACTEURS</button></a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Synopsis</th>
                    <th scope="col">Année</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Affiche</th>
                    <th scope="col">Trailer</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Acteurs</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Voir</th>
                </tr>
            </thead>
            <tbody>
            {% for media in media %}
                <tr class="table-secondary">
                    <td>{{ media.id }}</td>
                    <td>{{ media.title }}</td>
                    <td>{{ media.type }}</td>
                    <td>{{ media.synopsis }}</td>
                    <td>{{ media.releasedYear }}</td>
                    <td>{{ media.duration }}</td>
                    <td>{{ media.poster }}</td>
                    <td>{{ media.trailer }}</td>
                    <td>{{ media.genres.name }}</td>
                    <td>
                        {% for actor in media.actors %}
                            {{ actor.name }}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('movies_edit', {'title': media.title}) }}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{{ path('movies_show', {'title' : media.title}) }}"><i class="far fa-eye"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('movies_new') }}"><button type="button" class="btn btn-secondary">Ajouter</button></a>
{% endblock %}
