{% extends 'base.html.twig' %}
{% block title %} {{ media.title }} {% endblock %}

{% block body %}
  <div class="media">
    <img src="{{ media.poster }}" alt="">
    <div class="media-content">
      <h2>{{ media.title }}</h2>
      <p>{{ media.synopsis | raw }}</p>
    </div>
  </div>
  <div class="media-description">
    <h3>Trailer</h3>
    <embed src="{{ media.trailer }}" allowfullscreen="true" width="525" height="344">
    
    <h3>Genre</h3>
      {{ media.genres.name }}
    </div>
    <div class="acteur">
      <h3>Casting</h3>
      <div class="d-flex w-100 justify-content-around">
      {% for actor in media.actors %}
       <a href="{{ path('actors_show', {'name': actor.name}) }}">
          <img src="{{ actor.image }}">
           <h3>{{ actor.name }}</h3> 
       </a>
      {% endfor %}
      </div>
    </div>
  
{% endblock %}
