{% extends 'base.html.twig' %}
{% block title %} {{ media.title }} {% endblock %}

{% block body %}
  <div class="media">
    <img src="{{ media.poster }}" alt="">
    <div class="media-content">
      <h2>{{ media.title }}</h2>
      <p>{{ media.synopsis | raw }}</p>
    </div>
  </div>
  <div class="media-description">
    <h3>Genre</h3>
      {{ media.genres.name }}
    <h3>Casting</h3>
      {% for actor in media.actors %}
       <a href="{{ path('actors_show', {'name': actor.name}) }}">
          <img src="{{ actor.image }}">
       </a>
      {% endfor %}
  </div>
{% endblock %}
