{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block title %}New Media{% endblock %}

{% block body %}
    <div class="container">
        <h2>Ajouter un nouveau Media</h2>
        
        {{ form_start(form) }}
            <div>
                <a class="btn btn-secondary" href="{{ path('medias.crud') }}" role="button">Retour</a>
                <button type="submit"  class="btn btn-secondary">Ajouter</button>
            </div>
            <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr' : {
                'placeholder' : 'Titre'
            }}) }}
            </div>
            <div>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            </div>
            <div>
            {{ form_label(form.synopsis) }}
            {{ form_widget(form.synopsis, {'attr' : {
                'placeholder' : 'Synopsis'
            }}) }}
            </div>
            <div>
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration, {'attr' : {
                'placeholder' : 'Durée'
            }}) }}
            </div>
            <div>
            {{ form_label(form.poster) }}
            {{ form_widget(form.poster) }}
            </div>
            <div>
            {{ form_label(form.trailer) }}
            {{ form_widget(form.trailer, {'attr' : {
                'placeholder' : 'Trailer'
            }}) }}
            </div>
            <div>
            {{ form_label(form.genres) }}
            {{ form_widget(form.genres, {'attr' : {
                'placeholder' : 'Genre'
            }}) }}
            </div>
            <div>
            {{ form_label(form.actors) }}
            {{ form_widget(form.actors, {'attr': {
                'class' : 'media-actors selectpicker',
                'title' : 'Sélectionnez un ou plusieurs acteurs',
                'data-live-search' : "true",
                'data-size' : '5'
            }}) }}
            </div>
            <div>
            {{ form_label(form.released) }}
            {{ form_widget(form.released) }}
            </div>
        {{ form_end(form) }}
    </div>    

{% endblock %}
{% block javascripts %}
<script>
    $('.media-actors').selectpicker();
</script>
{% endblock %}
