{% extends 'base.html.twig' %}

{% block title %}New Media{% endblock %}

{% block body %}
    <h2>Ajouter un nouveau Media</h2>
    
    {{ form_start(form) }}
    <div>
        <a class="btn btn-secondary" href="{{ path('medias.crud') }}" role="button">Retour</a>
        <button type="submit"  class="btn btn-secondary">Ajouter</button>
    </div>
    <div>
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    <div>
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
    </div>
    <div>
    {{ form_label(form.synopsis) }}
    {{ form_widget(form.synopsis) }}
    </div>
    <div>
    {{ form_label(form.duration) }}
    {{ form_widget(form.duration) }}
    </div>
    <div>
    {{ form_label(form.poster) }}
    {{ form_widget(form.poster) }}
    </div>
    <div>
    {{ form_label(form.trailer) }}
    {{ form_widget(form.trailer) }}
    </div>
    <div>
    {{ form_label(form.genres) }}
    {{ form_widget(form.genres) }}
    </div>
    <div>
    {{ form_label(form.actors) }}
    {{ form_widget(form.actors) }}
    </div>
    <div>
    {{ form_label(form.released_year) }}
    {{ form_widget(form.released_year) }}
    </div>
    
    {{ form_end(form) }}

{% endblock %}
