{% extends 'base.html.twig' %}

{% block title %}A voir{% endblock %}

{% block body %}
  <div class="title-next">
    <h3 class="text-white mt-4 mb-4 text-center font-weight-bold"><span class="wish-counter">{{ medias|length }}</span> Titres</h3>
  </div>
  <div class="container mt-1 d-flex justify-content-center flex-wrap">
    {% for umedia in medias %}
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 poster-grid">
              <a href="{{ path('medias.show', {'id': umedia.media.id}) }}">
                <img src="{{ umedia.media.poster }}" alt="affiche">
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ umedia.media.title }}</h5>
                <p class="card-text">{{ umedia.media.synopsis | truncate(300, true) }}</p>
              </div>
            </div>
          </div>
          <div class="list-button d-flex justify-content-center text-white mt-3 mb-2">
            {% if app.user %}
              <a title="J'aime" data-content='1' class="btn-circle btn-lg btn btn-secondary getContent mr-3 {% if app.user.like(umedia.media) == 1 %} btn-success {% endif %} like" data-url="{{ path('medias.like', {'id': umedia.media.id }) }}" role="button">
                <i class="far fa-thumbs-up"></i>
              </a>
              <a title="J'aime pas" data-content='-1' class="btn-circle btn-lg btn btn-secondary getContent {% if app.user.like(umedia.media) == -1 %} btn-danger {% endif %} dislike" data-url="{{ path('medias.like', {'id': umedia.media.id }) }}" role="button">
                <i class="far fa-thumbs-down"></i>
              </a>
            {% endif %}
          </div>
          <div class="list-button text-right mt-3 d-flex justify-content-center">
              {% if app.user %}
                  {% set var = app.user.mediaUser(umedia.media) %}
                      <a class="btn btn-secondary text-white mr-3 {% if var is not null and var.haveSeen == true %} btn-info{% endif %} haveSeen" 
                      data-url="{{ path('medias.haveseen', {'id': umedia.media.id }) }}" role="button">
                        <i class="fas fa-check"> Déjà Vu</i>
                      </a>
                  {% set var = app.user.mediaUser(umedia.media) %}
                      <a class="btn btn-secondary text-white {% if var is not null and var.wishList == true %}btn-info{% endif %} wishListDisappear" 
                      data-url="{{ path('medias.wantsee', {'id': umedia.media.id }) }}" role="button">
                        <i class="fas fa-bookmark"> Wish List</i>
                      </a>
              {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}