{% extends 'base.html.twig' %}

{% block title %}Espace Acteurs{% endblock %}

{% block body %}
<div class="container">
    <h2>Liste des Acteurs</h2>

    <div>
        <a class="btn btn-secondary" href="{{ path('actors.new') }}">Ajouter</a>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" href="{{ path('medias.crud') }}" aria-selected="false">ESPACE MEDIAS</a>
            <a class="nav-item nav-link active" href="{{ path('actors.crud') }}" aria-selected="true">ESPACE ACTEURS</a>
            <a class="nav-item nav-link" href="{{ path('membres.crud') }}" aria-selected="false">ESPACE MEMBRES</a>
            <a class="nav-item nav-link" href="{{ path('statistiques') }}" aria-selected="false">STATISTIQUES</a>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Voir</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in actor %}
                    <tr class="table-secondary">
                        <td>{{ actor.name }}</td>
                        <td><a href="{{ path('actors.edit', {'id': actor.id}) }}"><i class="fas fa-edit"></i></a></td>
                        <td><a href="{{ path('actors.show', {'id' : actor.id}) }}"><i class="far fa-eye"></i></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}