{% extends 'base.html.twig' %}

{% block title %}Edit Actor{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h2>Edit Actor</h2>
    <a href="{{ path('actors.crud') }}"><button type="button" class="btn btn-secondary">Retour</button></a>

    <div>
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    </div>
    <div>
    {{ form_label(form.biography) }}
    {{ form_widget(form.biography) }}
    </div>
    <div>
    {{ form_label(form.born) }}
    {{ form_widget(form.born) }}
    </div>
    <div>
    {{ form_label(form.died) }}
    {{ form_widget(form.died) }}
    </div>
    <div>
    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}
    </div>

    <button type="submit"> Mettre à jour </button>
    {{ form_end(form) }}
    
    <a href="{{ path('actors.delete', {'id': actor.id}) }}" onclick="return confirm('Etes vous-sûr de vouloir supprimer ce acteur?')"><button type="button" class="btn btn-danger">Supprimer</button></a>
{% endblock %}