{% extends 'base.html.twig' %}

{% block title %} {{ actor.name }} {% endblock %}

{% block body %}
<div class="media">
    <img src="{{ actor.image }}" alt="{{ actor.name }}">
    <div class="media-content">
        <h2>{{ actor.name }}</h2>
        {{ actor.born }}<br/>
        {{ actor.biography }}
    </div>
</div>
    
{% endblock %}
