{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block title %}Nouvel Acteur{% endblock %}

{% block body %}
    <div class="container">
        <h2>Ajouter un nouvel acteur</h2>
        {{ form_start(form) }}
            <div>
                <a class="btn btn-secondary" href="{{ path('actors.crud') }}" role="button">Retour</a>
                <button type="submit"  class="btn btn-secondary">Ajouter</button>
            </div>

            <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr' : {
                'placeholder' : 'Prénom et Nom'
            }}) }}
            </div>
            <div>
            {{ form_label(form.biography) }}
            {{ form_widget(form.biography, {'attr' : {
                'placeholder' : 'Biographie'
            }}) }}
            </div>
            <div>
            {{ form_label(form.born) }}
            {{ form_widget(form.born, {'attr' : {
                'placeholder' : 'Date de Naissance'
            }}) }}
            </div>
            <div>
            {{ form_label(form.died) }}
            {{ form_widget(form.died, {'attr' : {
                'placeholder' : 'Date de Décès'
            }}) }}
            </div>
            <div>
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            </div>
        {{ form_end(form) }}
    </div>    
{% endblock %}